*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background-color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #848e97;
}

.navbar {
  background-color: #27262a;
  position: relative;
}

.navbar__header {
  padding: 0 10px;
  width: 100%;
  height: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar__logo {
  width: 43px;
}

.navbar__logo-text {
  display: none;
  text-transform: uppercase;
  font-size: 24px;
}

.navbar__logo-link {
  color: #8d81ac;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar__logo-link:hover,
.navbar__logo-link:active {
  color: #fff;
}

.navbar__logo-link:hover .navbar__logo path,
.navbar__logo-link:active .navbar__logo path {
  fill: #fff;
}

.navbar__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 119px;
  height: 37px;
  border-radius: 50px;
  background-color: #8d81ac;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

.navbar__button:active {
  color: #8d81ac;
  background-color: #fff;
}

.navbar__button:hover {
  background-color: #fff;
  color: #8d81ac;
  border: 2px solid #8d81ac;
}

.navbar__menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  opacity: 0;
  pointer-events: none;
}

.navbar__menu.active {
  pointer-events: all;
  opacity: 1;
}

.navbar__menu-item {
  width: 290px;
  height: 87px;
  background-color: #333333;
  border-bottom: 2px solid #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.navbar__menu-item:last-child {
  height: 10px;
  border-bottom: none;
}

.navbar__menu-text {
  height: 54px;
  border-left: 8px solid #333333;
  font-size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
}

.navbar__menu-text:hover {
  border-left: 8px solid #8d81ac;
}

.navbar__menu-link {
  width: 100%;
  display: inline-block;
  line-height: 87px;
  color: #fff;
  text-decoration: none;
}

.navbar__menu-link:hover {
  color: #8d81ac;
}

.navbar__menu-link:active {
  color: #fff;
}

.header {
  min-width: 320px;
  background-color: #000;
  height: 620px;
}

.header__main {
  background-image: url("../img/header/header_main_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -130px;
  width: 100%;
  height: 620px;
}

.header__main-heading {
  font-size: 48px;
  line-height: 72px;
  color: #fff;
  text-align: center;
}

.header__description {
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title-first {
  width: 90vw;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #8d81ac;
  text-align: center;
}

.header__title-second {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 15px;
  color: #848e97;
  text-align: center;
  text-transform: uppercase;
}

.header__button-bottom {
  width: 290px;
  height: 45px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__button-bottom:link,
.header__button-bottom:visited {
  background-color: #8d81ac;
  color: #fff;
  text-decoration: none;
}

.header__button-bottom:hover {
  background-color: #fff;
  color: #8d81ac;
  border: 1px solid #8d81ac;
}

.navbar__btn {
  background-color: #27262a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar__btn-burger {
  position: relative;
  width: 26px;
  height: 3px;
  background-color: #e5e3e3;
  border-radius: 5px;
}

.navbar__btn-burger::before,
.navbar__btn-burger::after {
  width: 26px;
  height: 3px;
  background-color: #ffffff;
  content: "";
  position: absolute;
  border-radius: 5px;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.navbar__btn-burger::before {
  width: 21px;
  -webkit-transform: translate(5px, -7px);
      -ms-transform: translate(5px, -7px);
          transform: translate(5px, -7px);
}

.navbar__btn-burger::after {
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}

.revolutionary {
  padding: 44px 5% 0 5%;
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.revolutionary__h2 {
  color: #635c73;
  font-size: 26px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
}

.revolutionary__text {
  opacity: 0.8;
  color: #323232;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 34px;
}

.revolutionary__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  line-height: 24px;
  width: 260px;
}

.revolutionary__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  height: 26px;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 20px;
}

.revolutionary__btn:last-child {
  margin-bottom: 0;
}

.revolutionary__btn + .revolutionary__btn {
  margin-left: 10px;
}

.revolutionary__btn-with-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 11px;
  background-color: #f8f9fb;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px 0 0 3px;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.revolutionary__btn-with-count:link,
.revolutionary__btn-with-count:visited {
  color: #333333;
}

.revolutionary__btn-with-count:hover {
  background-color: #eff2f5;
  border-color: #999999;
}

.revolutionary__btn-icon {
  margin-right: 3px;
  width: 16px;
}

.revolutionary__btn-social-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-left: none;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}

.revolutionary__btn-social-count:link,
.revolutionary__btn-social-count:visited {
  color: #333333;
}

.revolutionary__btn-social-count:hover {
  color: #0366d6;
}

.features {
  position: relative;
  padding: 36px 8% 38px 8%;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.features__h2 {
  font-size: 32px;
  line-height: 38px;
  color: #8d81ac;
  font-weight: 700;
  text-align: center;
  margin-bottom: 34px;
}

.features__items-container {
  padding-bottom: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item {
  margin-bottom: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__item:nth-child(1) .features__icon {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__item-content {
  width: 100%;
}

.features__item-heading {
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 20px;
  text-align: center;
}

.features__item-text {
  color: #848e97;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.features__icon-container {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__icon {
  margin-bottom: 25px;
}

.features__main-image {
  position: absolute;
  left: calc(8% - 15px);
  bottom: 0;
  max-height: 400px;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/testimonials/testmonials-bg.png");
  background-color: #4b3b4e;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 14px;
  min-width: 320px;
  padding: 61px 25px 0 25px;
}

.testimonials__block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__header {
  display: inline-block;
  height: 100%;
  color: #fff;
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  padding-bottom: 30px;
}

.testimonials__block {
  width: 100%;
  min-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

.testimonials__img-wrapper {
  width: 225px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__text {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  text-align: center;
}

.testimonials__line {
  width: 100%;
  border: 1px solid #645766;
  background-color: #645766;
  margin: 22px auto 0 auto;
}

.testimonials__additional-text {
  text-align: center;
  color: #918094;
  display: none;
}

.pricing {
  color: #ffffff;
  padding: 70px 15px 80px 15px;
  background-color: #4b3b4e;
  line-height: 1.1;
}

.pricing__h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  padding-bottom: 53px;
}

.pricing__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__card {
  width: 257px;
  height: 457px;
  background-color: #5f5161;
  position: relative;
  margin-bottom: 14px;
}

.pricing__card--selected {
  width: 290px;
  height: 560px;
  background-color: #413344;
}

.pricing__card--selected .pricing__btn {
  width: 190px;
  height: 52px;
  font-size: 16px;
  background-color: #5d5260;
}

.pricing__card--selected .pricing__header {
  height: 111px;
  background-color: #3a2d3d;
}

.pricing__card--selected .pricing__price-tag {
  font-size: 82px;
  line-height: 90.28px;
  padding: 15px 0 21px 0;
}

.pricing__card--selected .pricing__per-month {
  padding-bottom: 49px;
}

.pricing__card--selected .pricing__separator {
  margin-bottom: 41px;
}

.pricing__card--selected .pricing__license {
  line-height: 32px;
}

.pricing__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  height: 97px;
  width: 100%;
  background-color: #695b6a;
}

.pricing__price-tag {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 33px 0 24px 0;
  text-align: center;
}

.pricing__dollar-sign {
  font-weight: 400;
}

.pricing__per-month {
  opacity: 0.3;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 39px;
  text-align: center;
}

.pricing__separator {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 31px;
}

.pricing__license {
  white-space: pre-line;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.pricing__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 42px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20.45px;
  text-transform: uppercase;
  background-color: #776b79;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 38px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pricing__btn:link,
.pricing__btn:visited,
.pricing__btn:active {
  color: #ffffff;
  text-decoration: none;
}

.pricing__btn:hover {
  cursor: pointer;
  font-weight: 700;
  background-color: #d2ccd2;
  color: #7f6d78;
}

@media (min-width: 480px) {
  .header__main-heading {
    font-size: 60px;
    line-height: 90px;
  }

  .header__title-first {
    font-size: 21px;
    line-height: 31px;
  }

  .header__title-first--lowercase {
    text-transform: lowercase;
  }

  .header__button-bottom {
    width: 340px;
    height: 54px;
  }

  .revolutionary__h2 {
    font-size: 34px;
    line-height: 50px;
  }

  .revolutionary__text {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 27px;
  }

  .revolutionary__buttons {
    width: 100%;
  }

  .revolutionary__btn {
    margin-bottom: 0;
  }

  .features__h2 {
    font-size: 35px;
    line-height: 50px;
  }

  .features__items-container {
    padding-bottom: 470px;
  }

  .features__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 48px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .features__item-content {
    width: calc(100% - 140px);
    margin-left: 10px;
  }

  .features__item-heading {
    text-align: left;
    margin-bottom: 15px;
  }

  .features__item-text {
    text-align: left;
  }

  .features__icon {
    margin-bottom: auto;
  }

  .features__main-image {
    max-height: 460px;
    left: calc(8% - 18px);
  }

  .pricing {
    background-image: url("../img/pricing/pricing_section_bg_img.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .pricing__h2 {
    padding-bottom: 47px;
    font-size: 35px;
    line-height: 52px;
  }

  .pricing__btn {
    background-color: #806f7c;
  }
}

@media (min-width: 481px) {
  .navbar__logo-text {
    display: block;
    font-weight: bold;
    margin-left: 15px;
  }

  .navbar__menu {
    pointer-events: all;
    opacity: 1;
    position: relative;
    width: 100%;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }

  .navbar__menu-item {
    height: auto;
    width: initial;
    background-color: transparent;
    border-bottom: unset;
    display: inline-block;
    padding: 0 15px;
  }

  .navbar__menu-text {
    height: unset;
    border-left: unset;
    font-size: 15px;
    display: inline-block;
    padding-left: unset;
  }

  .navbar__menu-text:hover {
    border-left: unset;
  }

  .navbar__menu-link {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: unset;
    color: #8d81ac;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar__menu-link:hover {
    color: #fff;
  }

  .navbar__menu-link:active {
    color: #fff;
  }

  .navbar {
    height: 118px;
  }

  .navbar__header {
    height: 80px;
    padding: 0 20px;
  }

  .navbar__menu-item:last-child {
    display: none;
  }

  .navbar__btn {
    display: none;
  }

  .testimonials {
    background-position-y: unset;
    padding: 80px 20px 0 20px;
    height: 100%;
  }

  .testimonials__block-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .testimonials__header {
    font-size: 40px;
    line-height: 58px;
  }

  .testimonials__block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50%;
    padding: 0 5%;
  }

  .testimonials__img-wrapper {
    margin-bottom: 33px;
  }

  .testimonials__line {
    width: 100%;
    margin: 0 auto;
  }

  .testimonials__additional-text {
    display: block;
    font-size: 12px;
    line-height: 18px;
    padding: 41px 0 16px 0;
  }
}

@media (min-width: 635px) {
  .navbar__menu-item {
    padding: 0 25px;
  }

  .navbar__menu-text {
    font-size: 16px;
  }

  .testimonials {
    padding: 80px 20px 0 20px;
    height: 100%;
  }

  .testimonials__line {
    width: 91vw;
  }

  .testimonials__additional-text {
    font-size: 14px;
    margin: 0 auto;
    width: 95%;
    padding-top: 61px;
  }
}

@media (min-width: 768px) {
  .navbar__button {
    width: 145px;
    height: 38px;
  }

  .header {
    height: 685px;
  }

  .header__main {
    height: 685px;
    background-position-y: -110px;
  }

  .header__main-heading {
    font-size: 72px;
    line-height: 108px;
  }

  .header__description {
    height: 260px;
  }

  .header__title-first {
    font-size: 24px;
    line-height: 36px;
  }

  .header__button-bottom {
    width: 390px;
    height: 62px;
  }

  .revolutionary {
    padding: 60px 7% 0 7%;
    height: 435px;
  }

  .revolutionary__h2 {
    font-size: 45px;
    line-height: 60px;
  }

  .revolutionary__text {
    margin-top: 36px;
    margin-bottom: 36px;
    font-size: 21px;
    line-height: 32px;
  }

  .features__h2 {
    font-size: 42px;
    line-height: 62px;
    margin-bottom: 45px;
  }

  .features__items-container {
    padding-bottom: 530px;
  }

  .features__item {
    margin-bottom: 33px;
  }

  .features__main-image {
    max-height: 520px;
    left: calc(8% - 22px);
  }

  .testimonials__header {
    font-size: 42px;
    line-height: 62px;
  }

  .testimonials__block {
    min-height: 180px;
  }

  .pricing {
    padding: 80px 15px 30px 15px;
  }

  .pricing__h2 {
    font-size: 42px;
    line-height: 63px;
  }

  .pricing__container {
    width: 572px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .pricing__container .pricing__card {
    margin-bottom: 52px;
  }
}

@media (min-width: 993px) {
  .navbar__menu {
    width: 50%;
    position: absolute;
    bottom: 40px;
    left: calc(50% + 80px);
  }

  .navbar__menu-item {
    padding: 0 12px;
  }

  .navbar {
    padding-left: calc(((100vw - 1200px)/2) + 10px);
    padding-right: calc(((100vw - 1200px)/2) + 10px);
    height: 100px;
    padding-top: 10px;
  }

  .header__main {
    padding-left: calc(((100vw - 1200px)/2) + 10px);
    padding-right: calc(((100vw - 1200px)/2) + 10px);
  }

  .header__main-heading {
    font-size: 76px;
    line-height: 110px;
  }

  .header__title-first {
    font-size: 27px;
    line-height: 40px;
  }

  .header__title-second {
    font-size: 15px;
    line-height: 23px;
  }

  .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
  }

  .features__h2 {
    width: 50%;
    text-align: left;
    padding-left: 22px;
    font-size: 38px;
    line-height: 38px;
  }

  .features__items-container {
    width: 50%;
    padding-bottom: 0;
  }

  .features__item-text {
    width: 85%;
  }

  .features__main-image {
    bottom: 18px;
    left: 50%;
    max-height: 78%;
  }

  .testimonials {
    padding: 98px 20px 0 20px;
    height: 100%;
  }

  .testimonials__header {
    font-size: 45px;
    line-height: 67px;
  }

  .testimonials__block {
    width: calc(100% / 3);
    padding: 0 3.2%;
    margin-bottom: 90px;
  }

  .testimonials__img-wrapper {
    margin-bottom: 20px;
  }

  .testimonials__line {
    width: 79vw;
  }

  .testimonials__additional-text {
    padding-top: 6px;
    width: 79vw;
  }

  .pricing {
    padding: 70px 15px 70px 15px;
  }

  .pricing__h2 {
    padding-bottom: 71px;
    font-size: 45px;
    line-height: 67px;
  }

  .pricing__container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .pricing__container .pricing__card {
    margin-bottom: 0;
  }

  .pricing__card {
    margin: 0 7px;
  }

  .pricing__btn {
    background-color: #80707c;
  }
}

@media (min-width: 1024px) {
  .navbar__menu-item {
    padding: 0 16px;
  }
}

@media (min-width: 1200px) {
  .navbar__menu {
    max-width: 540px;
    position: absolute;
    bottom: 40px;
    left: calc(50% + 145px);
  }

  .header__main-heading {
    font-size: 82px;
    line-height: 120px;
  }

  .header__title-first {
    font-size: 30px;
    line-height: 45px;
  }

  .header__title-second {
    font-size: 16px;
    line-height: 24px;
  }

  .revolutionary {
    padding-left: calc(((100vw - 1200px)/2) + 10px);
    padding-right: calc(((100vw - 1200px)/2) + 10px);
    height: 400px;
  }

  .revolutionary__h2 {
    font-size: 54px;
    line-height: 80px;
  }

  .features {
    padding-left: calc(((100vw - 1200px)/2) + 10px);
    padding-right: calc(((100vw - 1200px)/2) + 10px);
  }

  .features__h2 {
    font-size: 46px;
    line-height: 46px;
  }

  .testimonials {
    padding-left: calc(((100vw - 1200px)/2) + 10px);
    padding-right: calc(((100vw - 1200px)/2) + 10px);
  }

  .testimonials__header {
    font-size: 48px;
    line-height: 72px;
  }

  .testimonials__line {
    width: 60vw;
    max-width: 780px;
  }

  .testimonials__additional-text {
    margin: unset;
    max-width: 1180px;
  }

  .pricing {
    padding-top: 73px;
    padding-bottom: 97px;
    padding-left: calc(((100vw - 1200px)/2) + 10px);
    padding-right: calc(((100vw - 1200px)/2) + 10px);
  }

  .pricing__h2 {
    font-size: 48px;
    line-height: 72px;
  }
}